* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-links {
  font-size: 14px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-top: 50px;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  main {
    padding: 20px;
  }
}

.ul-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px; /* Add padding to the left */
}
